
<div class="containerr"> 
    
    <br>
  <div class="child"><h1>Error 404 :(</h1></div>
</div>
<div class="containerr">
    <div class="child2"> <h2>La pagina no ha sido localizada</h2></div>
    <img src="./assets/f.gif" alt="" height="200px" width="200px">
   
</div>

<h1></h1>
