
.containerr {
    display: flex;
    align-items: start;
    align-items: center;
    justify-content: center;
  }
  .child {
    padding: .2rem;
    font-size: 60px;
    color: red;
  }
  .child2{
    padding: .2rem;
    font-size: 30px;
  }
  .imagen{
    display: flex;
    align-items: center;
    justify-content: center;
  }