
<div class="containerr">
    
    
    <h1>Contactame para cualquier duda o aclaración</h1>
    <br>


</div>

<div class="estilo">
    <p><div class="child"><h1>Telefono:</h1></div><h1> 55-60-63-23-91</h1><p>
        
</div>

<div class="estilo">
    <p><div class="child"><h1>Correo Electronico:</h1></div><h1> arlethosorio102@gmail.com</h1><p>
        
</div>

<div class="estilo">
    <p><div class="child"><h1>Dirección:</h1></div><h1>Tizayuca Hidalgo</h1><p>
        
</div>
    
 <div class="estilo">
     <img src="./assets/contacto.png" alt="">
 </div>   
