.containerr {
    display: flex;
    align-items: start;
    align-items: center;
    justify-content: center;
    color: crimson;
    font-size: 25px;
  }
  .child {
    padding: .2rem;
    font-size: 15px;
    color:teal;
  }
  .child2{
    padding: .2rem;
    font-size: 30px;
  }
  .imagen{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .estilo{
    align-items: center;
    justify-content: center;
    display: flex;
    color: black;
    font-size: 25px;
  }

