<div class="containerr">
    
    
    <h1>" Un poco sobre mí "</h1>
    
    
</div>

<div class="estilo">
    <p>Mi nombre es Erika Arleth Osorio Vicencio tengo 20 años vivo en Tizayuca HIdalgo. Actualmente curso el noveno cuatrimestre de la carrera ingeniería en software en la Universidad Politécnica de Tecámac, creci en el seno de una familia humilde llena de valores quienes desde pequeña me han inculcado aprender cada día formando en mi una persona que se esfuerza por seguir aprendiendo.</p>
</div>

<hr color="FA8072" size=100>
<div class="estilo">
    
        <span style="color:rgb(178, 34, 118)"><h1>PASATIEMPOS</h1></span>
        &nbsp;
        <span style="color:#E04343;"><h1>FAVORITOS</h1></span>
        
        
</div>

<div class="imagen">
    <table>
        <tr>
            <td><div class="child"><h1>Escuchar musica</h1></div></td>
            <td><div class="child"><h1>Practicar box</h1></div></td>
            <td><div class="child"><h1>Ver videos</h1></div></td>
           
        </tr>

        <tr>
            <td><img src="./assets/nota.jpg" alt="" height="100px" width="100px"></td>
            <td><img src="./assets/guantes.jpg" alt="" height="100px" width="100px"></td>
            <td><img src="./assets/video.jpg" alt="" height="100px" width="100px"></td>
        </tr>
        
        <tr>
            <td><p>"La musica es la banda sonora de la vida" me gusta mucho escuchar musica por que me anima y me motiva al momento de hacer una actividad, ahora bien es un habito que esta por encima de cualquier otro,sobre todo por que permite hacer cosas más a la vez y en todos los sentidos le da alegria a la vida".</p></td>
            <td><p>"El boxeo es el deporte más duro y solitario del mundo" pero es un deporte completo tanto como fisico y mental, el gusto hacia el box surgió desde pequeña al ver lo por televisión pasaron los años y ahora tuve la suerte de practicarlo en la universidad".</p></td>
            <td><p>El ver videos me gusta porque en una forma de entretenimiento ya que me gusta todo el contenido relacionado a mis gustos. </p></td>
        </tr>
    </table>
    
   </div>