
<ul>
    <!--Navegación-->
    <li><a [routerLink]="['inicio']">Inicio</a></li>
    <li><a [routerLink]="['acerca de']" >Acerca de</a></li>
    <li><a [routerLink]="['contacto']">Contacto</a></li>
</ul>

<!--Rutas-->
<div class="container main-container">
    <router-outlet></router-outlet>
</div>