
<hr color="AFEEEE" size=100>
<div class="containerr">
    

  <img src="./assets/saludo.gif" alt="" height="100px" width="100px"><span style="color:rgb(149, 34, 178)"><h1>Hola</h1></span> 
  &nbsp; 
  <span style="color:rgb(178, 34, 118)"><h1>Cibernautas :)</h1></span>  
  &nbsp;
  <span style="color:#E04343;"><h1>Bienvenidos</h1></span> <img src="./assets/saludo.gif" alt="" height="100px" width="100px">
 
  
</div>
<hr color="AFEEEE" size=100>

<div class="estilo">
    
  <span style="color:rgb(178, 34, 41)"><h1>Mi nombre es:</h1></span>
  &nbsp;
  <span style="color: black;"><h1>Erika Arleth Osorio Vicencio </h1></span> 
</div>
<div class="estilo">
    
  <span style="color:rgb(178, 34, 41)"><h1>Mi edad es:</h1></span>
  &nbsp;
  <span style="color: black;"><h1>20 años</h1></span> 
</div>

<div class="estilo">
    
  <span style="color:rgb(178, 34, 41)"><h1>Soy:</h1></span>
  &nbsp;
  <span style="color: black;"><h1>Estudiante de la Universidad Politécnica de Tecámac</h1></span> 
  &nbsp;
  <img src="./assets/marciano.gif" alt="" height="200px" width="200px">
 
</div>
<hr color="FAEBD7" size=80>

<div class="containerr">
    
<span style="color:rgb(178, 34, 118)"><h1>Mini </h1></span>  
&nbsp;
<span style="color:#E04343;"><h1>Album</h1></span> 
  
</div>
<div class="imagen">
    <table>

        <tr>
            <td><img src="./assets/universidad.jpg" alt="" height="300px" width="300px"></td>
            <td><img src="./assets/rosas.jpg" alt="" height="300px" width="300px"></td>
            <td><img src="./assets/uniamigos.jpg" alt="" height="300px" width="300px"></td>
        </tr>
        <tr>
          <td><img src="./assets/familia.JPG" alt="" height="300px" width="300px"></td>
          <td><img src="./assets/cafe.png" alt="" height="300px" width="300px"></td>
          <td><img src="./assets/gradua.JPG" alt="" height="300px" width="300px"></td>
      </tr>
      
        
    </table>
    






