.containerr {
    display: flex;
    align-items: start;
    align-items: center;
    justify-content: center;
    color: forestgreen;
    font-size: 35px;
  }
  .child {
    padding: .2rem;
    font-size: 15px;
    color: rgb(255, 0, 106);
  }
  .child2{
    padding: .2rem;
    font-size: 30px;
  }
  .imagen{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .estilo{
    align-items: center;
    justify-content: center;
    display: flex;
  }
